@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

$global_font: "Lobster Two", cursive;
$global_font2: "Roboto", sans-serif;
$global_font3: "Raleway", sans-serif;
$global_font4:  'Open Sans', sans-serif;
$global_color: #f0c308;

@mixin global-logo {
  font-family: $global_font;
  color: $global_color;
}

@mixin global_button {
  color: #000;
  background-color: $global_color;
  padding: 10px 40px;
  font-family: $global_font3;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 150px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px 50px;

  .logo {
    @include global-logo;
    cursor: pointer;
  }

  &.sticky {
    background-color: rgba(0, 0, 0, 0.897);
  }

  .hamburger {
    display: none;
  }

  .nav {
    display: flex;
  }

  .nav li {
    margin-left: 40px;
    list-style-type: none;

    a {
      font-family: $global_font3;
      text-decoration: none;
      color: #fff;
      text-transform: capitalize;
      transition: .5s ease;

      &:hover {
        border-bottom: 1px solid $global_color;
        color: $global_color;
      }
    }
  }

  @media only screen and (max-width: 920px) {
    & {
      padding: 20px 15px;

      .nav {
        position: absolute;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.521);
        top: 70px;
        width: 100%;
        left: 0;
        text-align: center;
        padding-top: 0px;
        height: 0;
        transition: 0.5s ease-in-out;

        li {
          border-bottom: 1px solid #fff;
          padding: 30px 0px;
          margin: 0px 30px;
          display: none;
        }

        &.active {
          height: 50vh;
          padding-top: 70px;

          li {
            display: block;
          }
        }
      }

      .hamburger {
        display: block;
        font-size: 1.5rem;
        padding-right: 10px;
        color: #fff;

        .fa-times {
          display: none;
        }

        &.active {
          .fa-times {
            display: block;
          }

          .fa-bars {
            display: none;
          }
        }
      }
    }
  }
}

#home {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;

  .home-title {
    padding-left: 650px;
    padding-top: 250px;

    h1 {
      font-size: 3rem;
      font-family: $global_font;
      color: $global_color;
      padding: 10px 0px;
    }

    h3 {
      @include global-logo;
      font-size: 2rem;
      padding: 5px 0px;
    }

    p {
      font-size: 1.2rem;
      font-family: $global_font2;
      color: #fff;
      width: 80%;
      padding: 5px 0px;
      margin-bottom: 20px;
    }

    a {
      @include global_button;
    }
  }

  @media only screen and (max-width: 920px) {
    & {

      .home-title {
        padding: 250px 20px;
        background-color: #00000067;
      }
    }
  }
}

#about {
  width: 100%;
  min-height: 70vh;
  background-image: url(../images/about-bg.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 150px;

  .section-title {
    padding-top: 10px;
    text-align: center;
    font-family: $global_font;
    padding-bottom: 30px;
  }

  .about-title {
    background: rgb(2, 0, 36);
    background: linear-gradient(165deg, rgba(2, 0, 36, 1) 6%, rgba(20, 20, 113, 1) 74%);
    color: #f0c308;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 30px 50px;

    .title-border {
      border: 1px solid #fff;
      height: 41vh;
      padding: 10px;

      h1 {
        font-family: $global_font3;
        padding-bottom: 10px;
      }

      p {
        font-family: $global_font3;
        font-weight: 700;
      }
    }

  }

  @media only screen and (max-width:920px) {
    & {
      padding: 10px 30px;

      .about-title {
        padding: 20px 30px;
      }

      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: .68rem;
      }
    }

  }
}

#menu {
  width: 100%;
  min-height: 90vh;

  h1 {
    padding-top: 30px;
    text-align: center;
    font-family: $global_font;
    padding-bottom: 30px;
  }

  .cards {
    padding: 10px 60px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;

    .card {
      padding: 15px 15px;

      img {
        width: 350px;
      }
    }

  }


  @media only screen and(max-width:920px) {
    & {
      width: 100%;
      height: 150vh;

      .cards {
        display: block;
        padding: 15px 30px;

        .card {
          img {
            width: 300px;
          }
        }
      }
    }
  }
}

#baylanis {
  width: 100%;
  height: 90vh;

  .h1 {
    text-align: center;
    padding-top: 30px;
    text-align: center;
    font-family: $global_font;
    padding-bottom: 30px;
  }

  .footer-title {
    background-image: url(../images/Canoe-Interior-Evening-Vibes-5170.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70vh;
    color: #fff;

    h1 {
      width: 50%;
      text-align: left;
      margin-left: 500px;
      padding-top: 100px;
      font-family: $global_font;
    }
  }
  footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    background: rgb(48, 166, 109);
    background: linear-gradient(90deg, rgba(48, 166, 109, 1) 14%, rgba(14, 180, 207, 1) 38%, rgba(25, 96, 111, 1) 94%);
  .footer-card1{
    width: 250px;
    h1{
      font-family: $global_font;
      padding: 5px;
    }
    p{
      font-family: $global_font4;
      font-weight: 1;
    }
    .icons{
      i{
        padding: 10px;
        cursor: pointer;
      }
    }
  }
  .dooter-cards{
    display: flex;
  }
  .footer-card2{
    display:grid;
    padding: 10px 40px;
    a{
      text-decoration: none;
      font-family: $global_font2;
      color: #fff;
      padding: 6px;
    }
  }
  .footer-card3{
    display: grid;
    h2{
      font-family: $global_font3;
    }
    a{
      text-decoration: none;
      color: #fff;
    }
  }

  }
}